p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --main-gray: #333333;
  --accent-gray-4: #bdbdbd;
  --accent-gray-6: #f2f2f2;
  --white-color: #ffffff;
}

@font-face {
  font-family: "TT Hoves Regular";
  src: url("../fonts/TT Hoves Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "TT Hoves Light";
  src: url("../fonts/TT Hoves Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "TT Hoves Bold";
  src: url("../fonts/TT Hoves Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "TT Hoves Black";
  src: url("../fonts/TT Hoves Black.ttf") format("truetype");
  font-weight: 900;
}
body {
  font-family: "TT Hoves Regular", Tahoma, sans-serif;
  color: var(--main-gray);
}

.container {
  max-width: 100%;
  min-width: 370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 24px 50px;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--main-gray);
}
.btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../icons/right-arrow.png");
  background-size: cover;
}

.btn-white {
  background-color: var(--white-color);
}

.btn-gray {
  background-color: var(--main-gray);
  color: var(--white-color);
}

.btn-absolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.title {
  font-family: "TT Hoves Light";
  font-weight: 300;
  font-size: 64px;
  color: var(--accent-gray-4);
}

.header {
  min-width: 370px;
  padding-top: 29px;
  padding-bottom: 29px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 60px;
}
.menu-list-link {
  color: var(--main-gray);
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 0;
}

.current {
  border-top: 1px solid var(--main-gray);
  border-bottom: 1px solid var(--main-gray);
}

.hero {
  padding-bottom: 60px;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hero-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-bottom: 104px;
}

.hero-title {
  width: 278px;
  font-family: "TT Hoves Light";
  font-size: 64px;
  font-weight: 300;
  color: var(--accent-gray-4);
  text-transform: uppercase;
}
.hero-title .title-accent {
  font-family: "TT Hoves Bold";
  color: var(--main-gray);
}

.hero-btns-wrap {
  display: flex;
  gap: 23px;
}

.hero-nav-btn {
  padding: 15px;
  background-color: var(--white-color);
  border: 1px solid var(--accent-gray-6);
  cursor: pointer;
}

.hero-title-number {
  font-size: 24px;
  color: var(--accent-gray-4);
}

.hero-img-wrap {
  position: relative;
}

.about .container {
  display: flex;
  gap: 30px;
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  padding-top: 30px;
}

.about-imag-list {
  width: 370px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-imag-item {
  width: 270px;
}

.about-imag-position {
  position: relative;
  top: 30px;
}

.about-info-wrap {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.about-info-text {
  font-family: "TT Hoves Light";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.56;
}

.tasks-list {
  display: flex;
  justify-content: space-between;
}
.tasks-list-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.task-number {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 1.19;
  color: var(--accent-gray-6);
}

.task-text {
  font-size: 22px;
  line-height: 1.63;
}

.projects-list {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-btn-wrap {
  display: flex;
  justify-content: end;
}

.connect-wrap {
  display: flex;
  margin-top: 22px;
  gap: 30px;
}

.connect-inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 391px;
}

.connect-form-input {
  width: 100%;
  padding: 15px 21px;
  background-color: #f3f3f3;
  border: none;
}
.connect-form-input::placeholder {
  font-size: 14px;
  line-height: 1.17;
  color: #8d8d8d;
}

.connect-form-input::before {
  content: "*";
  color: red;
}

.connect-form-feedback {
  width: 100%;
  height: 147px;
  padding: 15px 21px;
  background-color: #f3f3f3;
  border: none;
}
.connect-form-feedback::placeholder {
  font-size: 14px;
  line-height: 1.17;
  color: #8d8d8d;
}/*# sourceMappingURL=main.css.map */